# Auth0 — https://manage.auth0.com/

VITE_AUTH0_DOMAIN=dev-oh62f3hilgh8p2rj.us.auth0.com

# APPLICATION (SPA) — Applications > Applications > "Uco Parking"
# Tipo: Single Page Application. Es el Client ID del login Vue.
VITE_AUTH0_CLIENT_ID=7dpH5nefIhszZpvxKmLvta

# API (Custom API) — Applications > APIs > "uco-parking-api" > Identifier
# NO confundir con "uco-parking-api (Test Application)" que es M2M/backend.
VITE_AUTH0_AUDIENCE=https://uco-parking-api

VITE_API_BASE_URL=http://localhost:8000
